# This is the bcp config file for Ophiuchus any variables that are prone to change should go in this file 
main:
{
  logpath = "log/main_oph.log";
  cmdlog = "log/cmds_oph.log";
};

bvexcam:
{
  enabled = 1;
  logfile = "log/bvexcam.log";
  camera_handle = 1;
  lens_desc = "/dev/ttyLens1port8000";
  port = 8000;
  workdir = "/home/ophiuchus/bvexcam";
  configdir = "bvexcam";
  t_exp = 700;
  save_image = 0;
  lon = -76.498007;
  lat = 44.224327;
  alt = 50.0;
  pbob = 0;
  relay = 2;
};

accelerometer:
{
  enabled = 0;
  raspberry_pi_ip = "192.168.0.23";
  port = 65432;
  num_accelerometers = 3;
  output_dir = "/media/ophiuchus/T7/accelerometer_data";
  logfile = "log/accelerometer.log";
  chunk_duration = 600;  # Duration of each data chunk in seconds
  print_interval = 10000;  # Number of samples between status prints
};

motor:
{
  enabled = 1;
  logfile = "log/motor.log";
  port = "enp4s0"
  datadir = "/media/ophiuchus/T7/motor";
  velP = 28.0;
  velI = 18.0;
  velD = 1.0;
  velI_db = 0.005;
  max_delta = 5; #maximum change in current in 0.01 A
  friction = 350.0; #magnitude of the frictional current in 0.01 A
  friction_db = 3; 
  vel_gain = 3.0;
  tel_offset = -0.7;
  max_current = 380; #max currnet in 0.01 A
  max_velocity = 3.0;
  pos_tol = 0.05; #position tolerance
  pbob = 0;
  relay = 1;
};

lazisusan:
{
 enabled = 0;
 logfile = "log/lazisusan.log";
 datadir = "/media/ophiuchus/T7/lazisusan";
 port = "/dev/ttyACM1";
 gear_ratio = 15.75;
 offset = 0.0;
 g_az = 0.5;
 max_freq = 150.0;
 deltav = 0.1;
 vmax = 0.2;
 db = 0.1;
 gps_db = 0.2;
};

lockpin:
{
 enabled = 1;
 logfile = "log/lockpin.log";
 baud = 9600;
 serialport = "/dev/ttyACM0";
 duration = 1500;
};

gps_server:
{
 enabled = 1;
 logfile = "log/gps_server.log";
 ip = "172.20.3.10";
 port = 8080;
 timeout = 50000;
};

starcam_downlink:
{
 enabled = 1;
 logfile = "log/starcam_downlink.log";
 port = 8001;
 compression_quality = 60;
 chunk_size = 1000;
 max_bandwidth_kbps = 10000;
 image_timeout_sec = 300;
 workdir = "/home/ophiuchus/bvexcam/pics";
 notification_file = "/tmp/starcam_new_image.notify";
 udp_client_ips = ["172.20.3.11", "100.105.58.60", "100.114.205.58"];
};

server:
{
 enabled = 1;
 logfile = "log/server.log";
 ip = "0.0.0.0";
 port = 8002;
 timeout = 50000;
};

power:
{
 enabled = 1
 logfile = "log/pbob.log";
 ip = "0.0.0.0";
 port = 8003;
 timeout = 50000;
 
 pbob0:
 { 
  enabled = 1;
  id = 0;
  ip = "172.20.3.18";
  num_relays = 6;
 };

 pbob1:
 {
  enabled = 0;
  id = 1;
  ip = "0.0.0.0";
  num_relays = 5; 
 };

 pbob2:
 {
  enabled = 0;
  id = 2;
  ip = "0.0.0.0";
  num_relays = 3;
 };

};
