# This is the bcp config file for Ophiuchus any variables that are prone to change should go in this file 
main:
{
  logpath = "log/main_oph.log";
  cmdlog = "log/cmds_oph.log";
};

bvexcam:
{
  enabled = 1;
  logfile = "log/bvexcam.log";
  camera_handle = 1;
  lens_desc = "/dev/ttyLens1port8000";
  port = 8000;
  workdir = "/home/ophiuchus/bvexcam";
  configdir = "bvexcam";
  t_exp = 100;
};

accelerometer:
{
  enabled = 0;
  raspberry_pi_ip = "192.168.0.23";
  port = 65432;
  num_accelerometers = 3;
  output_dir = "/media/ophiuchus/T7/accelerometer_data";
  logfile = "log/accelerometer.log";
  chunk_duration = 600;  # Duration of each data chunk in seconds
  print_interval = 10000;  # Number of samples between status prints
};

motor:
{
  enabled = 1;
  logfile = "log/motor.log";
  port = "enp4s0"
  datadir = "/media/ophiuchus/T7/motor";
  velP = 28.0;
  velI = 18.0;
  velD = 1.0;
  velI_db = 0.005;
  max_delta = 5; #maximum change in current in 0.01 A
  friction = 350.0; #magnitude of the frictional current in 0.01 A
  friction_db = 3; 
  vel_gain = 3.0;
  tel_offset = -0.7;
  max_current = 380; #max currnet in 0.01 A
  max_velocity = 3.0;
  pos_tol = 0.05; #position tolerance
};

lazisusan:
{
 enabled = 0;
 logfile = "log/lazisusan.log";
 datadir = "/media/ophiuchus/T7/lazisusan";
 port = "/dev/ttyACM1";
 gear_ratio = 15.75;
 offset = 0.0;
 g_az = 0.5;
 max_freq = 150.0;
 deltav = 0.1;
 stretch = 1.2;
 vdb = 0.08;
};

lockpin:
{
 enabled = 1;
 logfile = "log/lockpin.log";
 baud = 9600;
 serialport = "/dev/ttyACM0";
 duration = 1000;
}
