# This is the bcp config file for Ophiuchus any variables that are prone to change should go in this file 
main:
{
  logpath = "/home/ophiuchus/flight_code/log/main_oph.log";
  cmdlog = "/home/ophiuchus/flight_code/log/cmds_oph.log";
};

bvexcam:
{
  enabled = 0;
  logfile = "/home/ophiuchus/flight_code/log/bvexcam.log";
  camera_handle = 1;
  lens_desc = "/dev/ttyLens1port8000";
  port = 8000;
  workdir = "/home/ophiuchus/bvexcam";
  configdir = "/home/ophiuchus/flight_code/bvexcam";
};

accelerometer:
{
  enabled = 0;
  raspberry_pi_ip = "192.168.0.23";
  port = 65432;
  num_accelerometers = 3;
  output_dir = "/media/ophiuchus/T7/accelerometer_data";
  logfile = "/home/ophiuchus/flight_code/log/accelerometer.log";
  chunk_duration = 600;  # Duration of each data chunk in seconds
  print_interval = 10000;  # Number of samples between status prints
};

motor:
{
  enabled = 1;
  logfile = "/home/ophiuchus/flight_code/log/motor.log";
  port = "enp4s0"
  datafile = "/media/ophiuchus/T7/motor_pv.txt";
  velP = 25.0;
  velI = 0.5;
  velD = 1.0;
  velI_db = 10.0;
  velfactor = 0.94;
  max_delta = 5; #maximum change in current in 0.01 A
  friction = 300.0; #magnitude of the frictional current in 0.01 A
  friction_db = 3; 
  vel_gain = 3.0;
  tel_offset = -0.7;
  max_current = 350; #max currnet in 0.01 A
  max_velocity = 3.0;
  pos_tol = 0.05; #position tolerance
};
