-e file:../bcp-redis-client/python --config-settings editable_mode=strict
-e file:../codec --config-settings editable_mode=strict
-e file:. --config-settings editable_mode=strict
redis[hiredis]
pydantic
pytest
pytest-asyncio