# This is the bcp config file for Saggitarius. Any variables that are prone to change should go in this file.

main:
{
  logpath = "/home/saggitarius/bcp/Sag/log/main_sag.log";
  cmdlog = "/home/saggitarius/bcp/Sag/log/cmds_sag.log";
};

rfsoc_spectrometer:
{
  enabled = 1;
  ip_address = "172.20.3.12";
  mode = "cx";
  data_save_interval = 600;
  data_save_path = "/media/saggitarius/T7";
  fpga_bitstream = "./rfsoc4x2_tut_spec_cx/outputs/rfsoc4x2_tut_spec_cx_2023-04-03_1141.fpg";
  fpga_bitstream_479khz = "./rfsoc4x2_tut_spec_cx/outputs/rfsoc4x2_tut_spec_cx_2025-04-09_1051.fpg";
  adc_channel = 0;
  accumulation_length = 262144;  # 2*(2^28) // 2048
  num_channels = 8;
  num_fft_points = 2048;
};

gps:
{
  enabled = 1;
  port = "/dev/ttyGPS";
  baud_rate = 19200;
  data_save_path = "/media/saggitarius/T7/GPS_data";
  file_rotation_interval = 14400;  # 4 hours in seconds
  
  # Telemetry configuration - Updated to point to remote computer
  telemetry_enabled = 1;
  telemetry_host = "172.20.3.11";  # Remote computer that will receive GPS data
  telemetry_port = "3000";
}; 